<manifest package="com.deploygate.sdk"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:authorities="${applicationId}.deploygateprovider"
            android:name=".DeployGateProvider"
            android:exported="false" />
    </application>
    <queries>
        <package android:name="com.deploygate" />
    </queries>
</manifest>
