<manifest package="com.deploygate.sdk"
    xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <application>
        <provider
            android:authorities="${applicationId}.deploygateprovider"
            android:name=".DeployGateProvider"
            android:exported="false"
            />

        <meta-data
            android:name="com.deploygate.sdk.version"
            android:value="${sdkVersion}"
            />

        <meta-data
            android:name="com.deploygate.sdk.feature_flags"
            android:value="${featureFlags}"
            />
    </application>
    <queries>
        <package android:name="com.deploygate" />
    </queries>
</manifest>
